<div class="ui-block">
  <div class="ui-block-title">
    <div>
      <button
          style="float: right"
          class="btn btn-primary"
          *ngIf="isAdmin() && state.activeTicketId == 0 && state.openedTicketId == 0"
          (click)="startTicket(ticket.id)" type="button"
      >Start
      </button>
      <button
          style="float: right; margin-right: 5px;"
          class="btn btn-primary"
          *ngIf="isAdmin() && state.activeTicketId == 0 && state.openedTicketId == 0"
          (click)="deleteTicket(ticket.id)" type="button"
      >Delete
      </button>
      <button
          style="float: right"
          class="btn btn-primary"
          *ngIf="isAdmin() && state.activeTicketId == ticket.id"
          (click)="endTicket()"
          type="button"
      >End
      </button>
      <button
          style="float: right"
          class="btn btn-primary"
          *ngIf="isAdmin() && state.activeTicketId == 0 && state.openedTicketId == ticket.id"
          (click)="closeTicket()"
          type="button"
      >Close
      </button>


      <h6 class="title">
        {{ ticket.name }}
      </h6>
      <br/>
      <div class="font-weight-normal">
        Votes: {{ getVoteCount(ticket.id) }} ///
        AVG: {{ getVoteAvg(ticket.id) }} ///
        Min: {{ getVoteMin(ticket.id) }}  ///
        Max: {{ getVoteMax(ticket.id) }}
      </div>
    </div>
  </div>
</div>
