<div class="ui-block">
  <div class="ui-block-title">
    <div>
      @if (isAdmin() && state.activeTicketId==0 && state.openedTicketId==0) {
        <button
            style="float: right"
            class="btn btn-primary"
            (click)="startTicket(ticket.id)" type="button"
        >Start
        </button>
      }
      @if (isAdmin() && state.activeTicketId==0 && state.openedTicketId==0) {
        <button
            style="float: right; margin-right: 5px;"
            class="btn btn-primary"
            (click)="deleteTicket(ticket.id)" type="button"
        >Delete
        </button>
      }
      @if (isAdmin() && state.activeTicketId==ticket.id) {
        <button
            style="float: right"
            class="btn btn-primary"
            (click)="endTicket()"
            type="button"
        >End
        </button>
      }
      @if (isAdmin() && state.activeTicketId==0 && state.openedTicketId==ticket.id) {
        <button
            style="float: right"
            class="btn btn-primary"
            (click)="closeTicket()"
            type="button"
        >Close
        </button>
      }


      <h6 class="title">
        {{ ticket.name }}
      </h6>
      <br/>
      <div class="font-weight-bolder">
        Votes: {{ getVoteCount(ticket.id) }} &nbsp; | &nbsp;
        AVG: {{ getVoteAvg(ticket.id) }} &nbsp; | &nbsp;
        Min: {{ getVoteMin(ticket.id) }} &nbsp; | &nbsp;
        Max: {{ getVoteMax(ticket.id) }}
      </div>
    </div>
  </div>
</div>
