<div class="header--standard header--standard-dark" id="header--standard">
  <div class="container">
    <div class="header--standard-wrap">
      <a routerLink="{{urlService.getHome()}}" class="logo">
        <div class="img-wrap">
          <img
              loading="lazy"
              src="https://smart-scrum-poker-static.s3.us-east-1.amazonaws.com/logos/logo-orange.png"
              alt="Smart Scrum Poker"
          >
        </div>
        <div class="title-block">
          <h6 class="logo-title">Smart Scrum Poker</h6>
          <div class="sub-title">Smarter Estimations for Agile Teams</div>
        </div>
      </a>

      <a href="#" class="open-responsive-menu js-open-responsive-menu">
        <svg class="olymp-menu-icon">
          <use xlink:href="#olymp-menu-icon"></use>
        </svg>
      </a>

      <div class="nav nav-pills nav1 header-menu">
        <div class="mCustomScrollbar">
          <ul>
            <li class="nav-item">
              <a routerLink="{{urlService.getHome()}}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="{{urlService.getPokerCreate()}}" class="nav-link">Create poker</a>
            </li>
            <li class="nav-item">
              <a routerLink="{{urlService.getPokerMyPokers()}}" class="nav-link">My pokers</a>
            </li>
            <li
                *ngIf="currentUser == null"
                class="nav-item"
            >
              <a routerLink="{{urlService.getAccountCreate()}}" class="nav-link">Create user</a>
            </li>
            <li
                *ngIf="currentUser != null"
                class="nav-item dropdown">
              <a
                  class="nav-link dropdown-toggle"
                  data-hover="dropdown"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="false"
                  aria-expanded="false"
                  tabindex='1'
              >Profile ({{currentUser.userName}})</a>
              <div class="dropdown-menu">
                <a routerLink="{{urlService.getAccountLogout()}}" class="nav-link">Logout</a>-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-spacer--standard"></div>

<router-outlet></router-outlet>
