<div class="ui-block" style="margin-top: 50px">
    <div class="birthday-item inline-items badges table-dark">
        <div class="birthday-author-name">
            <div class="h6 author-name" style="color: #ff5e3a">{{ poker.name }}</div>
            <div class="birthday-date">Share link: https://localhost:4200/poker/display/{{ pokerIdSecure }}</div>
        </div>
        <div class="skills-item">
            <div class="skills-item-meter">
                <span class="skills-item-meter-active skills-animate" style="width: 76%; opacity: 1;"></span>
            </div>
        </div>
    </div>
</div>

Users entered: <span *ngFor="let user of inGameInsecureUsers">{{ user.userName }} | </span>

<div
    *ngFor="let ticket of tickets"
    class="row"
>
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="ui-block">
            <div class="ui-block-title">
                <h6 class="title">
                    <button
                        style="float: right"
                        class="btn btn-primary"
                        *ngIf="isAdmin() && activeTicketId == 0 && openedTicketId == 0"
                        (click)="startTicket(ticket.id)" type="button"
                    >Start
                    </button>
                    <button
                        style="float: right"
                        class="btn btn-primary"
                        *ngIf="isAdmin() && activeTicketId == ticket.id"
                        (click)="endTicket()"
                        type="button"
                    >End
                    </button>
                    <button
                        style="float: right"
                        class="btn btn-primary"
                        *ngIf="isAdmin() && activeTicketId == 0 && openedTicketId == ticket.id"
                        (click)="closeTicket()"
                        type="button"
                    >Close
                    </button>
                    ID: {{ ticket.id }}: {{ ticket.name }} /
                    Votes: <span *ngIf="null != votes[ticket.id]">{{ Object.keys(votes[ticket.id]).length }}</span> /
                    AVG: waiting /
                    Min: waiting /
                    Max: waiting
                </h6>
            </div>
        </div>
    </div>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <!--    <ul>-->
        <!--        <li *ngFor="let voter of votes[ticket.id] | keyvalue">{{ voter.value.userName }}</li>-->

        <!--        <b>Voters: </b> <span *ngFor="let user of inGameInsecureUsers">{{ user.userName }}-->
        <!--        : {{ getVoteState(user.idSecure, ticket.id) }}| </span>-->

        <!--    <div *ngIf="activeRoundTicketId == ticket.id">-->
        <div *ngIf="openedTicketId == ticket.id">
            <div
                *ngFor="let user of inGameInsecureUsers"
                style="float: left"
                class="col col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6"
            >
                <div class="ui-block">
                    <div class="birthday-item inline-items">
                        <!--                <div class="author-thumb">-->
                        <!--                    <img loading="lazy" src="img/avatar21-sm.jpg" alt="author">-->
                        <!--                </div>-->
                        <div class="birthday-author-name">
                            <span class="h6 author-name">{{ user.userName }}</span>
                            <div class="birthday-date">{{ getVoteState(user.idSecure, ticket.id) }}</div>
                        </div>
                        <a href="#" class="btn btn-sm bg-blue">
                            {{ getCalculatedPoint(ticket.id, user.idSecure) }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-voter-table
            *ngIf="activeTicketId == ticket.id"
            [gameEvents]="gameEvents"
            [pokerIdSecure]="pokerIdSecure"
            [ticketId]="activeTicketId"
        ></app-voter-table>
    </div>
</div>
<br><br>
<button (click)="pokerRoomPush()">Push to room</button>
<button (click)="init()">Init</button>
